/*ハンバーガー*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background:white;
  color: black;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FEF4F2;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: black;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}
/*ハンバーガー*/

body{
    margin:0 ;
    padding:0;
    background-color: #FEF4F2;
}

.title_banner{
    text-align: center;
    margin: 10% 0;
}

.title_banner img{
    width: 70%;
}

.title{
    margin-left: 5%;
}

.line{
    border-top: solid 1px black;
    position: relative;
}

.line::after{
    content: "";
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 30%;
    border-top: 2px solid #FF73AA;
}

.box{
    border: solid 8px #F8D5D8;
    padding: 10px 10px;
    margin: 2% 10%;
}

.box-1{
    padding: 10px 10px;
    margin: 0 10%;
    background-color: pink;
}

.box-2{
    display: flex;
}

.intr_img{
    margin: 2%;
}

.name{
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.intr_img img{
    width: 30vw;
}

.cent{
    margin: 0 5%;
}

.boder{
     border-bottom: solid 3px pink;
     color: #FA7DA9;
}

.word{
    display: flex;
}

.word_title{
    color: red;
}

.word_title{
    padding-left: 15px;
    display: inline;
}

.boder-1{
    border-bottom: solid 3px pink;
}

.word_cent{
    padding-left: 25px;
    vertical-align: middle;
}

/*フッター*/
.footer{
    background-color: #F8D5D8;
    display: flex;
    margin: 0;
    padding: 0;
}

.foot_logo{
    padding: 3% 3% 0 3%;
    text-align: center;
}

.foot_logo img{
    width: 70%;
}

.foot_logo img{
    width: 25vw;
}

.foot_list{
    background-image: url("img/foot-background.png");
    background-size: contain;
}

.foot_list ul{
    padding: 0;
    margin-left: 10%;
}

.foot_list li{
    display: inline-block;
    width: 32%;
    margin: 1% 0;
    list-style-type: none;
    margin-left: 10%;
}

/*フッターレスポンシブル*/
@media screen and (max-width: 768px){
    .footer{
        background-color: #F8D5D8;
        display: block;
    }
    .foot_logo{
        padding: 5% 0 0 0;
        text-align: center;
    }

    .foot_list ul{
        margin: 0;
        text-align: center;
    }

    .foot_list li{
        display: block;
        width: 100%;
        padding: 3% 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px){
    .title_banner{
        margin-top: 20%;
    }
    .box-1{
      padding: 5px 5px;
      margin: 3% 3%;
      background-color: pink;
    }
    .name{
        padding-left: 0px;
        font-size: 5vw;
        font-weight: bold;
    }
    .box-2{
        display: block;
    }

    .cent{
        margin: 0;
    }

    .intr_img img{
        width: 60vw;
    }
    .word{
        margin-top: 10px;
        display: block;
    }

    .word_title{
        padding-left: 0;
    }
    .word_cent{
        padding-left: 0;
    }
}