@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.header{
    background: pink;
    display: flex;
    /*justify-content: center;*/
}

.header_logo{
    text-align: left;
}

.header_text h1{
    font-size: 72px;
}
.header_text h2{
    font-size: 52px;
}

.header_bl_cent{
    color: black;
    font-size: 20px;
}

.header_text{
    font-size: 27px;
    color: white;
}

.main{
    background:white;
}

.first_cent{
    text-align: center;
    padding: 50px 0;
}

.box{
    padding-left: 30px;
    margin: 0 20%;
    box-shadow: 0px 0px 0px 1px;
    border-radius: 1px;
    text-align: center;
}

.list_check{
    display: flex;
    align-items: left;
    flex-direction: column;
}


.list_check a{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 0 0 60px;
    position: relative;
}

.list_check a:before{
    content: "";
    display: block;
    width: 28px;    
    height: 28px;
    background: white;
    box-shadow: 0px 0px 0px 1px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.second_cent{
    padding: 3% 0;
    text-align: center;
}

.title{
    text-align: center;
    color: pink;
}

.cent{
    margin-left: 15%;
}

/*線*/
hr{
    width: 85%;
}

.step{
    font-size: 20px;
    margin-left: 15%;
}

.process_box{
    display: flex;
}

.process_ex{
    margin-left: 5%;
}

.process_ex h1{
    display: table-cell;
    vertical-align: top;
}
.process_img{
    margin-left: 5%;
}

/*マイクロバブル*/
.micro{
    display: flex;
    padding: 5%;
}
.micro_img{
    margin-left: 15%;
}

.pink_line{
    position: relative;
    margin-top: 1em;
    padding: 1em 0; 
}

.pink_line .pink{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 0 20%;
  margin: 0 10%;
  background-color: pink;
  transform: translateY(-50%)
}

.micro-ex-img{
    padding: 10% 0;
    width: 50%;
}

.ex{
    padding: 10% 0;
    text-align: center;
}

.grand_father{
    vertical-align: middle;
    display: flex;
}

.grand_father_cent{
    font-size: 28px;
    color: orange;
}

.difference{
    display: flex;
    padding: 10%;
}

.caption_box{
  position: relative;

  margin-top: 1em;
  padding: 1em 2em;
  border: 1px solid black;
}

.caption_box .caption{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  padding: 0 1em;
  margin: 0;
  background-color: white;
  transform: translateY(-50%) translateX(1em);
}

.last_cent{
    text-align: center;
    color: blue;
}

/*フッター*/
.footer{
    background-color: red;
    display: flex;
}

.foot_logo{
    padding-left: 10px;
}

.ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
    margin-left: 30px;
}

