/*ハンバーガー*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background:white;
  color: black;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FEF4F2;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: black;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}
/*ハンバーガー*/

body{
    padding: 0;
    margin: 0;
    background-color: #FEF4F2;
    font-family: "筑紫A丸ゴシック";
}

.title_banner{
    text-align: center;
    margin: 10% 0;
}

.title_banner img{
    width: 70%;
}

.title{
    margin: 2% 10%;
    font-size: 20px;
}

.line{
    border-top: solid 1px black;
    position: relative;
}

.line::after{
    content: "";
    display: block;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 30%;
    border-top: 2px solid #FF73AA;
}

.title_exp{
    margin: 7% 0;
    text-align: center;
    display: block;
}

.title_exp .title_exp_cent{
    text-align: left;
    display: inline-block;
}

.box{
    border: solid 1px red;
    margin: 5% 10%;
}

.question_box{
    font-size: 30px;
    padding: 10px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83FF8C;
}

.cent{
    margin-left: 30px;
}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10%;
}

.answer_img{
    margin-right: 25px;
}

.answer_img img{
    width: 5vw;
}

.answer_exp{
    vertical-align: top;
}

.answer_exp_cent{
    font-size: 20px;
}

.foot_banner{
    text-align: center;
    margin: 10% 0;
}

.foot_banner img{
    width: 70%;
}

/*フッター*/
.footer{
    background-color: #F8D5D8;
    background-image: url("img/foot-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

.foot_logo{
    margin: 0 3%;
    text-align: center;
}

.foot_list img{
    width: 50%;
}

.foot_list{
    width: 100vw;
    
}

.foot_list p{
    color: #5E9CD1;
    text-shadow: 1px 1px 2px gray;
}

.foot_list ul{
    padding: 0;
}

.foot_list li{
    line-height: 200%;
    display: list-item;
    margin: 1% 0;
}

.res_foot_contact{
    display: none;
}

/*フッターレスポンシブル*/
@media screen and (max-width: 768px){
    .footer{
        background-color: #F8D5D8;
        display: block;
        background-image: none;
    }
    .foot_logo{
        padding: 5% 0 0 0;
        text-align: center;
    }

    .foot_list ul{
        text-align: center;
        margin: 0;
    }

    .foot_list li{
        display: block;
        width: 100%;
        padding: 3% 0;
        margin-left: 0;
    }
    
    .foot_list img{
        display: none;
    }

    .res_foot_contact img{
        width: 60%;
    }
    
    .res_foot_contact{
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }
}


@media screen and (max-width: 768px){
    .title_banner{
        margin-top: 20%;
    }
    .title_exp{
        margin: 0 10%;
    }
    .question_box{
      font-size: 7vw;
      padding: 10px 10px;
      margin: 0;
      display: flex;
      background-color: #83FF8C;
  }

  .answer_img img{
      width: 10vw;
  }

  .answer_exp_cent{
      font-size: 5vw;
  }
}
